In [1]:
from nba_api.stats.endpoints import playercareerstats, leaguegamefinder
from nba_api.stats.static import teams, players

import pandas as pd

pd.set_option("display.max_columns", 50)

/usr/lib/python3/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.25.8) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
career = playercareerstats.PlayerCareerStats(player_id='203076')
print(len(career.get_data_frames()))

10

In [3]:
career.get_data_frames()[0]  # year by year

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,676,0.516,0,6,0.000,169,225,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,1005,0.519,2,9,0.222,348,440,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,1199,0.535,1,12,0.083,371,461,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,1136,0.493,35,108,0.324,326,430,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,1526,0.505,40,134,0.299,519,647,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,1462,0.534,55,162,0.340,495,598,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,1026,0.517,48,145,0.331,344,433,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,55,55,1889.0,508,994,0.511,65,194,0.335,386,457,0.845,124,393,517,172,82,134,135,138,1467

In [4]:
career.get_data_frames()[1]  # career total

,PLAYER_ID,LEAGUE_ID,Team_ID,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,00,0,521,516,17997.0,4661,9024,0.516511,246,770,0.31948,2958,3691,0.801408,1332,4090,5422,1154,721,1255,1004,1244,12526

In [5]:
career.get_data_frames()[2]  # year by year playoff

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2014-15,00,1610612740,NOP,22.0,4,4,172.0,47,87,0.54,0,2,0.000,32,36,0.889,9,35,44,8,5,12,13,12,126
1,203076,2017-18,00,1610612740,NOP,25.0,9,9,358.0,106,204,0.52,6,22,0.273,53,64,0.828,24,97,121,15,18,21,23,30,271

In [6]:
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [7]:
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4501

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [8]:
[player for player in nba_players if player['full_name'] == "Russell Westbrook"]

[{'id': 201566,
  'full_name': 'Russell Westbrook',
  'first_name': 'Russell',
  'last_name': 'Westbrook',
  'is_active': True}]

In [9]:
players_df = pd.DataFrame(nba_players)
players_df = players_df.set_index("id")
players_df

                   full_name first_name     last_name  is_active
id
76001         Alaa Abdelnaby       Alaa     Abdelnaby      False
76002        Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
76003    Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
51        Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
1505       Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...                      ...        ...           ...        ...
1627790           Ante Zizic       Ante         Zizic       True
78647               Jim Zoet        Jim          Zoet      False
78648              Bill Zopf       Bill          Zopf      False
1627826          Ivica Zubac      Ivica         Zubac       True
78650             Matt Zunic       Matt         Zunic      False

[4501 rows x 4 columns]

In [10]:
nba_teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [11]:
teams = [t["full_name"] for t in nba_teams]
teams

['Atlanta Hawks',
 'Boston Celtics',
 'Cleveland Cavaliers',
 'New Orleans Pelicans',
 'Chicago Bulls',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Golden State Warriors',
 'Houston Rockets',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Miami Heat',
 'Milwaukee Bucks',
 'Minnesota Timberwolves',
 'Brooklyn Nets',
 'New York Knicks',
 'Orlando Magic',
 'Indiana Pacers',
 'Philadelphia 76ers',
 'Phoenix Suns',
 'Portland Trail Blazers',
 'Sacramento Kings',
 'San Antonio Spurs',
 'Oklahoma City Thunder',
 'Toronto Raptors',
 'Utah Jazz',
 'Memphis Grizzlies',
 'Washington Wizards',
 'Detroit Pistons',
 'Charlotte Hornets']

In [13]:
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable="2018-19", season_type_nullable="Regular Season")
games = gamefinder.get_data_frames()[0]
games = games.loc[games.TEAM_NAME.isin(teams)]

games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22018,1610612749,MIL,Milwaukee Bucks,0021801226,2019-04-10,MIL vs. OKC,L,241,116,43,100,0.430,15,46,0.326,15,21,0.714,11,42,53,27,7,1,14,14,-11.0
1,22018,1610612737,ATL,Atlanta Hawks,0021801220,2019-04-10,ATL vs. IND,L,240,134,43,103,0.417,17,41,0.415,31,38,0.816,22,39,61,29,5,7,17,25,-1.0
2,22018,1610612760,OKC,Oklahoma City Thunder,0021801226,2019-04-10,OKC @ MIL,W,240,127,48,99,0.485,23,54,0.426,8,13,0.615,9,44,53,40,7,3,12,20,11.0
3,22018,1610612766,CHA,Charlotte Hornets,0021801222,2019-04-10,CHA vs. ORL,L,241,114,41,78,0.526,8,29,0.276,24,27,0.889,4,28,32,21,3,4,8,14,-8.0
4,22018,1610612744,GSW,Golden State Warriors,0021801225,2019-04-10,GSW @ MEM,L,239,117,46,92,0.500,13,30,0.433,12,14,0.857,9,30,39,32,3,5,14,17,-15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4303,22018,1610612763,MEM,Memphis Grizzlies,1621800001,2018-07-02,MEM vs. ATL,W,200,103,39,73,0.534,13,25,0.520,12,21,0.571,9,24,33,20,6,4,12,19,14.0
4304,22018,1610612759,SAS,San Antonio Spurs,1621800002,2018-07-02,SAS @ UTA,L,199,76,30,78,0.385,6,25,0.240,10,19,0.526,8,33,41,18,7,8,12,17,-25.0
4305,22018,1610612762,UTA,Utah Jazz,1621800002,2018-07-02,UTA vs. SAS,W,200,92,35,85,0.412,14,31,0.452,8,16,0.500,13,39,52,19,8,7,15,19,23.0
4306,22018,1610612758,SAC,Sacramento Kings,1321800002,2018-07-02,SAC vs. LAL,W,241,98,36,69,0.522,9,23,0.391,17,23,0.739,6,27,33,21,7,7,15,22,5.0
4307,22018,1610612737,ATL,Atlanta Hawks,1621800001,2018-07-02,ATL @ MEM,L,197,88,31,82,0.378,9,40,0.225,17,22,0.773,15,25,40,15,9,4,12,20,-15.0

0021800254    2
0021801200    2
0021801020    2
0021800496    2
0021800952    2
             ..
0021801095    1
0021800947    1
1521800029    1
0021800315    1
0021800919    1
Name: GAME_ID, Length: 1324, dtype: int64